
@{
    ViewData["Title"] = "FeedBack";
}


<!-- CONTENT AREA -->
<div class="content-area">

    <!-- BREADCRUMBS -->
    <section class="page-section breadcrumbs text-center">
        <div class="container">
            <div class="page-header">
                <h1>FeedBack</h1>
            </div>
            <!-- <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Pages</a></li>
                <li class="active">List Car</li>
            </ul> -->
        </div>
    </section>
    <!-- /BREADCRUMBS -->
    <!-- PAGE -->
    <section class="page-section">
        <div class="container">

            <h2 class="section-title"><span>Section Title</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis blandit elementum. Nullam volutpat vestibulum molestie. Duis ac sapien consequat, sollicitudin diam vitae, fringilla lectus. Fusce sit amet finibus tellus. Fusce varius ligula id mi dictum, iaculis gravida mauris eleifend. Praesent viverra mi elementum nulla varius, et luctus nisl tincidunt. Phasellus ullamcorper placerat magna ut varius. Vivamus et ipsum molestie leo bibendum congue vitae mattis leo. Sed id tristique nisi. Maecenas at odio efficitur, mattis sapien ac, vehicula augue. Suspendisse varius vulputate imperdiet. Quisque iaculis lobortis erat. Sed vitae tincidunt elit. Aliquam ultricies lacus id placerat porttitor. Nulla facilisi.</p>
            <hr class="page-divider small" />
            <div class="row">
                <!-- <div class="col-md-4">
                        <h2 class="block-title">User Name</h2>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis blandit elementum. Nullam volutpat vestibulum molestie. Duis ac sapien consequat, sollicitudin diam vitae, fringilla lectus."</p>
                    </div>
                    <div class="col-md-4">
                        <h2 class="block-title">User Name</h2>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis blandit elementum. Nullam volutpat vestibulum molestie. Duis ac sapien consequat, sollicitudin diam vitae, fringilla lectus."</p>
                    </div>
                    <div class="col-md-4">
                        <h2 class="block-title">User Name</h2>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis blandit elementum. Nullam volutpat vestibulum molestie. Duis ac sapien consequat, sollicitudin diam vitae, fringilla lectus."</p>
                    </div>
                </div> -->
                <!-- <div class="row">
                    <div class="col-md-12">
                        <h2 class="block-title">Text align</h2>
                        <p class="text-left">Left aligned text.</p>
                        <p class="text-center">Center aligned text.</p>
                        <p class="text-right">Right aligned text.</p>
                    </div>
                </div> -->

            </div>
    </section>
    <!-- /PAGE -->
    <!-- PAGE -->
    <section class="page-section no-padding slider">
        <div class="container full-width">

            <div class="main-slider">
                <div class="owl-carousel" id="main-slider">

                    <div class="caption-content">
                        <h2 class="block-title">List FeedBack</h2>
                        <div class="col-md-4">
                            <h2 class="block-title">User Name</h2>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis blandit elementum. Nullam volutpat vestibulum molestie. Duis ac sapien consequat, sollicitudin diam vitae, fringilla lectus."</p>
                        </div>
                        <div class="col-md-4">
                            <h2 class="block-title">User Name</h2>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis blandit elementum. Nullam volutpat vestibulum molestie. Duis ac sapien consequat, sollicitudin diam vitae, fringilla lectus."</p>
                        </div>
                        <div class="col-md-4">
                            <h2 class="block-title">User Name</h2>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis blandit elementum. Nullam volutpat vestibulum molestie. Duis ac sapien consequat, sollicitudin diam vitae, fringilla lectus."</p>
                        </div>
                    </div>
                    <div class="caption-content">
                        <h2 class="block-title">List FeedBack</h2>
                        <div class="col-md-4">
                            <h2 class="block-title">User Name</h2>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis blandit elementum. Nullam volutpat vestibulum molestie. Duis ac sapien consequat, sollicitudin diam vitae, fringilla lectus."</p>
                        </div>
                        <div class="col-md-4">
                            <h2 class="block-title">User Name</h2>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis blandit elementum. Nullam volutpat vestibulum molestie. Duis ac sapien consequat, sollicitudin diam vitae, fringilla lectus."</p>
                        </div>
                        <div class="col-md-4">
                            <h2 class="block-title">User Name</h2>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis blandit elementum. Nullam volutpat vestibulum molestie. Duis ac sapien consequat, sollicitudin diam vitae, fringilla lectus."</p>
                        </div>
                    </div>
                    <div class="caption-content">
                        <h2 class="block-title">List FeedBack</h2>
                        <div class="col-md-4">
                            <h2 class="block-title">User Name</h2>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis blandit elementum. Nullam volutpat vestibulum molestie. Duis ac sapien consequat, sollicitudin diam vitae, fringilla lectus."</p>
                        </div>
                        <div class="col-md-4">
                            <h2 class="block-title">User Name</h2>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis blandit elementum. Nullam volutpat vestibulum molestie. Duis ac sapien consequat, sollicitudin diam vitae, fringilla lectus."</p>
                        </div>
                        <div class="col-md-4">
                            <h2 class="block-title">User Name</h2>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis blandit elementum. Nullam volutpat vestibulum molestie. Duis ac sapien consequat, sollicitudin diam vitae, fringilla lectus."</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>
    <!-- /PAGE -->
    <!-- PAGE -->
    <section class="page-section">
        <div class="container">

            <div class="col-md-8 text-left">

                <h2 class="block-title"><span>FeedBack Form</span></h2>

                <!-- Contact form -->
                <form name="contact-form" method="post" action="#" class="contact-form" id="contact-form">

                    <div class="outer required">
                        <div class="form-group af-inner">
                            <label class="sr-only" for="name">Name</label>
                            <input type="text" name="name" id="name" placeholder="Name" value="" size="30"
                                   data-toggle="tooltip" title="Name is required"
                                   class="form-control placeholder" />
                        </div>
                    </div>

                    <div class="outer required">
                        <div class="form-group af-inner">
                            <label class="sr-only" for="email">Email</label>
                            <input type="text" name="email" id="email" placeholder="Email" value="" size="30"
                                   data-toggle="tooltip" title="Email is required"
                                   class="form-control placeholder" />
                        </div>
                    </div>

                    <div class="outer required">
                        <div class="form-group af-inner">
                            <label class="sr-only" for="subject">Subject</label>
                            <input type="text" name="subject" id="subject" placeholder="Subject" value="" size="30"
                                   data-toggle="tooltip" title="Subject is required"
                                   class="form-control placeholder" />
                        </div>
                    </div>

                    <div class="form-group af-inner">
                        <label class="sr-only" for="input-message">Message</label>
                        <textarea name="message" id="input-message" placeholder="Message" rows="4" cols="50"
                                  data-toggle="tooltip" title="Message is required"
                                  class="form-control placeholder"></textarea>
                    </div>

                    <div class="outer required">
                        <div class="form-group af-inner">
                            <input type="submit" name="submit" class="form-button form-button-submit btn btn-theme btn-theme-dark" id="submit_btn" value="Send message" />
                        </div>
                    </div>

                </form>
                <!-- /Contact form -->

            </div>
            <div class="col-md-4">
                <div class="contact-info">

                    <h2 class="block-title"><span>Contact Us</span></h2>

                    <div class="media-list">
                        <div class="media">
                            <i class="pull-left fa fa-home"></i>
                            <div class="media-body">
                                <strong>Address:</strong><br>
                                987 Main st. New York, NY, 00001, U.S.A
                            </div>
                        </div>
                        <div class="media">
                            <i class="pull-left fa fa-phone"></i>
                            <div class="media-body">
                                <strong>Telephone:</strong><br>
                                (012) 345-7689
                            </div>
                        </div>
                        <div class="media">
                            <i class="pull-left fa fa-envelope-o"></i>
                            <div class="media-body">
                                <strong>Fax:</strong><br>
                                0123456789
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-body">
                                Phasellus pellentesque purus in massa aenean in pede phasellus libero ac tellus pellentesque semper.
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-body">
                                <strong>Customer Service:</strong><br>
                                <a href="mailto:hello@rentit.com">hello@rentit.com</a>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-body">
                                <strong>Returns and Refunds:</strong><br>
                                <a href="mailto:hello@rentit.com">hello@rentit.com</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- /PAGE -->
    <!-- PAGE -->
    <section class="page-section">
        <div class="container">

            <h2 class="section-title"><span>Blockquote</span></h2>
            <div class="row">
                <div class="col-sm-6">
                    <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                    </blockquote>
                </div>
                <div class="col-sm-6">
                    <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    </blockquote>
                </div>
            </div>

        </div>
    </section>
    <!-- /PAGE -->

</div>
<!-- /CONTENT AREA -->